@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap");

@import "tailwindcss";
@plugin "daisyui";

* {
  font-family: "Rancho", cursive;
}
p {
  font-family: "Raleway", sans-serif;
}
input,
label {
  font-family: "Raleway", sans-serif;
}
